/* line 1, ../../features/movie/styles/_movie.scss */
#movie .source {
  padding-right: 0;
}
/* line 4, ../../features/movie/styles/_movie.scss */
#movie .source pre {
  background: #181818;
  color: white;
  font-size: 12px;
  font-weight: 100;
  overflow: auto;
  padding: 20px;
  border: none;
}
/* line 15, ../../features/movie/styles/_movie.scss */
#movie .media {
  margin: 0 auto 20px;
  padding: 0;
  background-color: #181818;
}
/* line 19, ../../features/movie/styles/_movie.scss */
#movie .media .cover {
  width: 100%;
  height: 500px;
  overflow: auto;
  background-size: cover;
  background-position: center;
}
/* line 26, ../../features/movie/styles/_movie.scss */
#movie .media film-card {
  position: absolute;
  bottom: 0;
}
/* line 29, ../../features/movie/styles/_movie.scss */
#movie .media film-card .card {
  background: #181818;
  margin: 0 auto;
  width: 80%;
  padding: 20px;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.3);
}
/* line 36, ../../features/movie/styles/_movie.scss */
#movie .media film-card .card h3 {
  margin-top: 0;
}
/* line 39, ../../features/movie/styles/_movie.scss */
#movie .media film-card .card h3 small {
  float: right;
}
/* line 44, ../../features/movie/styles/_movie.scss */
#movie .media film-card .card .poster img {
  width: 100%;
}

/* line 1, ../../features/serie/styles/_serie.scss */
#serie .source {
  padding-right: 0;
}
/* line 4, ../../features/serie/styles/_serie.scss */
#serie .source pre {
  background: #181818;
  color: white;
  font-size: 12px;
  font-weight: 100;
  overflow: auto;
  padding: 20px;
  border: none;
}
/* line 15, ../../features/serie/styles/_serie.scss */
#serie .media {
  margin: 0 auto 20px;
  padding: 0;
  background-color: #181818;
}
/* line 19, ../../features/serie/styles/_serie.scss */
#serie .media .cover {
  width: 100%;
  height: 500px;
  overflow: auto;
  background-size: cover;
  background-position: center;
}
/* line 26, ../../features/serie/styles/_serie.scss */
#serie .media serie-card {
  position: absolute;
  bottom: 0;
}
/* line 29, ../../features/serie/styles/_serie.scss */
#serie .media serie-card .card {
  background: #181818;
  margin: 0 auto;
  width: 80%;
  padding: 20px;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.3);
}
/* line 36, ../../features/serie/styles/_serie.scss */
#serie .media serie-card .card h3 {
  margin-top: 0;
}
/* line 39, ../../features/serie/styles/_serie.scss */
#serie .media serie-card .card h3 small {
  float: right;
}
/* line 44, ../../features/serie/styles/_serie.scss */
#serie .media serie-card .card .poster img {
  width: 100%;
}
